@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    color: #1f1f1f;
}
.sidebar{
    min-height: 100vh;
    /* min-width: 20vw; */
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #f0f4f9; */
    background-color: #e1e7f0;
    padding: 26px 18px;
}

.sidebar img{
    width: 20px;
    height: 20px;
    /* background-color: #e1e7f0; */
}

.sidebar .menu{
    display: block;
    margin-left: 8px;
    cursor: pointer;
        /* background-color: #e1e7f0;  */
        font-weight: 700;
}

.sidebar .new-chat{
    margin-top: 35px;
    display: inline-flex;
    gap: 15px;
    align-items: center;
    padding: 10px 10px;
    /* background-color: #e6eaf1; */
    border-radius: 50px;
    font-size: 15px;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 500;
    font-family: Outfit;
}

.sidebar .plus{
    font-weight: 800;
}

.sidebar .recent{
margin-bottom: 21.5rem;
}

.sidebar .recent-title{
    margin-top: 25px;
    font-size: 14.5px;
    font-weight: 600;
    color: #4b4b4b;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 6px;
}

.sidebar #react{
    font-size: 14.5px;
    font-weight: 500;
    color: #4b4b4b;
    font-family: Outfit;
   
}

.sidebar .recent-entry{
    display: flex;
    gap: 15px;
    margin-top: 15px;
    padding: 10px 10px;
    font-size: 14px;
    color: #e3e3e3;
    cursor: pointer;
    font-weight: semi-bold;
}

.sidebar .setting_icon{
    width: 22px;
}

.sidebar #settings{
        font-size: 14.5px;
    font-weight: 500;
    color: #4b4b4b;
    font-family: Outfit;
}